/* reset */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  list-style-type: none;
}

/* common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

/* header */

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  color: #fff;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #404bbf;
}

.header-logo .text-span {
  color: #2e2f42;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.nav-list {
  display: none;
}

.header-contacts {
  display: none;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-contacts {
    font-style: normal;
    margin-left: auto;
    display: block;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link.current {
    position: relative;
    color: #404bbf;
  }
  .nav-link.current::after {
    content: "";
    position: absolute;
    width: 100%;
    display: block;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    left: 0;
    bottom: -1px;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* mobile-menu */
.mobile-burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-burger-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-burger-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-nav {
  margin-bottom: auto;
}
.nav-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.nav-link-mobile {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-mobile-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link-mobile.current {
  position: relative;
  color: #404bbf;
}
.mobile-contacts {
  font-style: normal;
  display: block;
}
.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-contacts-link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contacts-link:hover,
.mobile-contacts-link:focus,
.nav-link-mobile:hover,
.nav-link-mobile:focus {
  color: #404bbf;
}

.mobile-icons-menu {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 48px;
}
.mobile-icon-social-networks {
  width: 40px;
  height: 40px;
}
.mobile-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-icon-link:hover,
.mobile-icon-link:focus {
  background-color: #404bbf;
}
.mobile-icon {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .mobile-burger-menu {
    display: none;
  }
}

/* first-section */

.first-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-bg-x1.jpg);
  max-width: 1440px;
  height: 432px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 0;
}

@media (min-resolution: 192dpi) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/mobile-bg-x2.jpg");
  }
}

.first-section-title {
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  padding-bottom: 72px;
}
.button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .first-section {
    width: 100%;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/tablet-bg-x1.jpg");
    padding: 112px 0;
  }
  .first-section-title {
    max-width: 496px;
    font-size: 56px;
    padding-bottom: 36px;
  }
  @media (min-resolution: 192dpi) {
    .first-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/tablet-bg-x2.jpg");
    }
  }
}
@media screen and (min-width: 1158px) {
  .first-section {
    width: 100%;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office-x1.jpg");
    max-width: 1440px;
    height: 600px;
    padding: 188px 0;
  }
  .first-section-title {
    padding-bottom: 48px;
  }
  @media (min-resolution: 192dpi) {
    .first-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/people-office-x2.jpg");
    }
  }
}
/* second-section */

.second-section {
  padding: 96px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-title {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.second-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
}

.icon-second-section {
  display: none;
}
.list-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .second-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    row-gap: 72px;
  }

  .list-title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .second-section {
    padding: 120px 0;
  }
  .second-list {
    display: flex;
    flex-direction: row;
  }
  .second-list-item {
    width: calc((100% - 3 * 24px) / 4);
  }
  .icon-second-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }

  .list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .list-description {
    font-weight: 400;
  }
}

/* third-section */

.third-section {
  padding: 96px 0;
  background-color: #f4f4fd;
}
.third-section > .container {
  width: 264px;
}
.third-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
}
.third-list-item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.third-list-item .list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.third-list-item .list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  padding-bottom: 8px;
}
.icons-third-section {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.icon-social-networks {
  width: 40px;
  height: 40px;
}
.icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}
.icon {
  fill: #f4f4fd;
}
.people-data {
  padding: 32px 0;
}
.people-data .list-title {
  text-align: center;
  margin-bottom: 8px;
}
.people-data .list-description {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .third-section > .container {
    width: 768px;
  }
  .third-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }
  .third-list-item {
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}
@media screen and (min-width: 1158px) {
  .third-section > .container {
    width: 1158px;
  }
  .third-section {
    padding: 120px 0;
  }
  .third-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .third-list-item {
    width: calc((100% - 72px) / 4);
  }
}

/* fourth-section */

.fourth-section {
  padding: 96px 0;
}
.fourth-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.fourth-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fourth-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.img-fourth-section {
  position: relative;
  overflow: hidden;
}
.fourth-list-item:hover .overlay {
  transform: translateY(0%);
  overflow: auto;
}
.description-photo {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
}
.fourth-description-section {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.fourth-description-section .list-title {
  text-align: start;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.fourth-description-section .list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.overlay {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
@media screen and (min-width: 768px) {
  .fourth-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    gap: 24px;
    justify-content: center;
  }
  .fourth-list-item {
    width: calc((100% - 72px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .fourth-section {
    padding: 120px 0;
  }
  .fourth-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    gap: 24px;
  }
  .fourth-list-item {
    width: calc((100% - 48px) / 3);
  }
}

/* footer */

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-description {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-icons {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-bottom: 72px;
}
.footer-icon-social-networks {
  width: 40px;
  height: 40px;
}

.footer-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}
.footer-logo {
  display: block;
  margin-bottom: 16px;
  text-align: center;
}
.footer-logo .text-span {
  color: #f4f4fd;
}
.footer-description {
  display: block;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
  padding-bottom: 72px;
}

.subscribe-text {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.input-subscribe {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  border-radius: 4px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-btn {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.icon-footer-btn {
  margin-left: 16px;
  fill: white;
}

@media screen and (min-width: 768px) {
  .footer-tablet-row {
    display: flex;
    gap: 24px;
    padding-left: 120px;
  }
  .footer-logo {
    display: flex;
    margin-bottom: 16px;
    text-align: start;
  }
  .social-description {
    text-align: start;
  }
  .footer-description {
    max-width: 264px;
  }
  .subscribe-text {
    text-align: start;
  }
  .subscribe-form {
    flex-direction: row;
  }
  .input-subscribe {
    width: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .info-footer {
    margin-left: 80px;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .footer-content {
    margin-right: 120px;
  }
  .footer-description {
    width: 264px;
  }
  .footer-tablet-row {
    display: flex;
    gap: 0;
    padding-left: 0;
  }
}

/* MODAL WINDOW */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.closing-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.closing-btn:hover,
.closing-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.closing-btn:hover .close-icon,
.closing-btn:focus .close-icon {
  fill: #ffffff;
}
/* .close-icon > use {
  width: 100%;
  height: 100%;
} */
.modal-text {
  margin-bottom: 16px;
}
.label-container {
  margin-bottom: 8px;
}
.content-field {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.input-container {
  position: relative;
}
.input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:focus {
  border-color: #4d5ae5;
}
.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}
.input:focus + .input-icon {
  fill: #4d5ae5;
}
.label-comment {
  margin-bottom: 16px;
}
.text-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-comment:focus {
  border-color: #4d5ae5;
}
.checkbox {
  margin-bottom: 24px;
}
.checkbox-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.checkbox-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.checkbox-input:checked + .checkbox-text > .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.link-footer {
  color: #4d5ae5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  line-height: 1.3;
}
.form-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
